*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-text-size-adjust: 100%; }
    
a {
  font-weight: 500;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

b {
  font-weight: 500; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: 'Rubik', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1;
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/pattern.jpg") left top repeat fixed; }

.wrapper {
  overflow: hidden;
  position: relative; }

.wrapper:before,
.wrapper:after {
  content: '';
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/head_bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 50%;
  min-height: 668px;
  position: fixed;
  top: 0; }

.wrapper:before {
  left: 0; }

.wrapper:after {
  right: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.header {
  position: fixed;
  width: 100%;
  z-index: 3; }

.header__inner {
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.4); }

.header__warp {
  background: #fff;
  display: table;
  width: 100%;
  padding: 0 30px; }

.header__cell {
  display: table-cell;
  vertical-align: middle; }

.logo {
  padding: 10px 0;
  border-right: 1px solid #ededed; }

.logo a {
  text-decoration: none;
  color: initial;
}

.logo__text {
  padding: 20px 10px 0 60px;
  position: relative;
  font-size: 21px;
  font-weight: 400;
}

.logo__text span {
  font-family: 'Neucha', cursive;
  color: #00b4cb;
  display: block;
  font-size: 23px;
  letter-spacing: 1px;
}

.logo__text:before {
  content: '';
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/logo.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu {
  display: table;
  margin: 0 auto; }

.menu_mobile,
.mobile-link {
  display: none; }

.menu__cell {
  display: table-cell;
  vertical-align: middle; }

.menu__cell a {
  padding: 15px 20px;
  font-size: 18px;
  color: #1a1a1a;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  display: block;
  text-decoration: none;
  position: relative; }

.menu__cell_selected a:after {
  content: '';
  background: #ed5440;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 12px 0 0; }

.menu__cell_selected a,
.menu__cell a:hover {
  color: #ed5440; }

.social {
  font-size: 0;
  text-align: right; }

.social__item {
  display: inline-block;
  font-size: inherit; }

.social__item a {
  display: block;
  padding: 10px; }

.social__item_01 a:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/twitter_stroke.svg") center no-repeat; }

.social__item_02 a:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/telegram_stoke.svg") center no-repeat; }

.social__item_03 a:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/instagram_stroke.svg") center no-repeat; }

.social__item a:before {
  content: '';
  width: 20px;
  height: 20px;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: block;
  opacity: .2;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.social__item a:hover:before {
  opacity: 1; }

.headline {
  border: solid #ededed;
  border-width: 1px 0;
  position: relative;
  overflow: hidden; }

.headline__wrap {
  padding: 0 30px;
  background: -webkit-radial-gradient(50% 50%, circle, #f9fdfe 50%, rgba(249, 253, 254, 0.2) 100%);
  background: -o-radial-gradient(50% 50%, circle, #f9fdfe 50%, rgba(249, 253, 254, 0.2) 100%);
  background: radial-gradient(circle at 50% 50%, #f9fdfe 50%, rgba(249, 253, 254, 0.2) 100%);
  display: table;
  width: 100%;
  position: relative;
  z-index: 1; }

.headline:before,
.headline:after {
  content: '';
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/head_bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 50%;
  min-height: 100px;
  position: absolute;
  top: 0; }

.headline:before {
  left: 0; }

.headline:after {
  right: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.headline__cell {
  display: table-cell;
  vertical-align: middle; }

.navigation {
  font-size: 0; }

.navigation__item {
  display: inline-block;
  vertical-align: middle; }

.navigation__item a {
  display: block;
  padding: 20px 0;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  color: inherit; }

.navigation__item a:hover {
  text-decoration: underline; }

.navigation__item + .navigation__item a {
  padding-left: 20px; }

.navigation__item + .navigation__item a:before {
  content: '';
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ed5440;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -1px 0 0 10px; }

.sections {
  text-align: right; }

.sections_mobile {
  display: none; }

.sections__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: underline;
  color: initial;
  padding: 20px 20px 20px 0; }

.sections__item_01:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/section_icon_01.png") center no-repeat;
  width: 21px;
  height: 21px; }

.sections__item_02:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/section_icon_02.png") center no-repeat;
  width: 26px;
  height: 23px; }

.sections__item:before {
  content: '';
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px; }

.sections__item + .sections__item {
  padding: 20px 0 20px 20px; }

.main {
  display: table;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 147px; }

.main__cell {
  display: table-cell;
  vertical-align: top; }

.content {
  padding: 0 50px 0 30px; }

.author {
  padding: 20px 30px 20px 0;
  color: #4098ad;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  width: 50%; }

.author:after {
  content: '';
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/author_decore.png") center top no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 22px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0; }

.author a {
  color: #c87a9c; }

.title {
  padding-top: 20px;
  font-size: 36px;
  font-weight: 500;
  width: 80%; }

.user {
  padding: 20px 0 10px;
  border-top: 1px solid #ededed; }

.user_question {
  border: none; }

.user__info {
  padding: 10px 0;
  display: table;
  width: 100%;
  table-layout: fixed; }

.user__cell {
  display: table-cell;
  vertical-align: middle; }

.user__cell_w-mod-01 {
  width: 280px;
  white-space: nowrap; }

.user__cell_w-mod-01 > .user__data {
  white-space: normal; }

.user__cell_w-mod-02 {
  width: 100px; }

.user__data {
  display: inline-block;
  vertical-align: middle; }

.user__avatar {
  position: relative;
  padding-right: 10px; }

.user__avatar:before {
  content: '';
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px -2px 0; }

.user__avatar_online:before {
  background: #69a97b; }

.user__avatar_offline:before {
  background: #ea2437; }

.user__avatar img {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.user__name {
  padding-bottom: 5px; }

.user__name a {
  color: #d886a9;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none; }

.user_question .user__name {
  color: #57b3c9; }

.user__geo {
  font-size: 14px;
  color: #bababa; }

.user__status {
  text-align: center; }

.user__item {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer; }

.user__status-info {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  padding: 15px 20px 15px 15px;
  text-align: left;
  background: #eafafe;
  -webkit-box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 2; }

.user__status-info:before {
  content: '';
  border: 6px solid transparent;
  border-right-color: #eafafe;
  position: absolute;
  top: 50%;
  right: 100%;
  margin: -3px 0 0; }

.user__item:hover > .user__status-info {
  display: block;
  white-space: nowrap; }

.user__status-info span {
  font-weight: 500;
  display: block;
  padding-bottom: 5px; }

.user__item + .user__item {
  margin-left: -25px; }

.user__item_girl:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/decore_girl.png") center no-repeat;
  width: 47px;
  height: 48px; }

.user__item_b-girl:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/decore_baby_girl.png") center no-repeat;
  width: 47px;
  height: 49px; }

.user__item_boy:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/decore_boy.png") center no-repeat;
  width: 48px;
  height: 42px; }

.user__item_b-boy:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/decore_baby_boy.png") center no-repeat;
  width: 53px;
  height: 46px; }

.user__item:before {
  content: '';
  display: block;
  -webkit-background-size: contain;
  background-size: contain; }

.user__date {
  font-size: 14px;
  color: #bababa;
  text-align: right; }

.user__date_mobile {
  display: none; }

.user__date_mark {
  font-size: 12px;
  font-weight: 500;
  display: table;
  margin: 0 0 0 auto;
  padding: 10px;
  color: #a3617d;
  background: rgba(216, 134, 169, 0.4);
  text-transform: uppercase;
  text-align: center; }

.user__text {
  padding: 10px 0;
  font-size: 17px;
  line-height: 1.43; }

.user__text a {
  color: #57b3c9;
  font-weight: bold; }

.user__text_question span {
  display: block;
  padding: 25px 30px;
  background: #f3fbfd;
  position: relative; }

.user__text_question span:before {
  content: '';
  border: solid transparent;
  border-left: 0;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #f3fbfd;
  position: absolute;
  bottom: 100%;
  left: 0; }

.user__text p + p {
  padding-top: 25px; }

.user__photo {
  padding-top: 10px; }

.user__respond {
  text-align: right;
  font-size: 14px;
  position: relative; }

.user__answer {
  color: #57b3c9;
  text-decoration: none; }

.user__like {
  color: #c87a9c;
  text-decoration: none;
  padding-left: 5px; }

.user__like:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/like_icon.svg") center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 3px; }

.user__answer_question,
.user__like_question {
  color: #000;
  position: relative; }

.user__answer_question:before {
  content: '';
  width: 15px;
  height: 13px;
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/comment_icon.svg") center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px; }

.user__like_question:before {
  content: '';
  width: 18px;
  height: 12px;
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/view_icon.svg") center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  vertical-align: baseline; }

.content__subtitle {
  padding: 10px 0 25px;
  font-size: 24px; }

.user_best {
  position: relative; }

.user_best:before {
  content: '';
  width: 20px;
  height: 20px;
  border: solid #ededed;
  border-width: 1px 0 0 1px;
  background: #fff;
  position: absolute;
  bottom: 100%;
  left: 0;
  margin: 0 0 -9px 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.button__wrap {
  padding: 20px 0; }

.button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #57b3c9;
  position: relative;
  padding: 5px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }

.button span {
  position: relative; }

.button:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #57b3c9;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom; }

.button:hover {
  color: #fff; }

.button:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

.side {
  width: 410px;
  border-left: 1px solid #ededed;
  position: relative; }

.side__wrap {
  padding-bottom: 30px; }

.side__wrap.fix {
  width: 410px;
  height: 100%;
  position: fixed; }

.side__title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 20px; }

.side__item {
  padding: 40px 30px 50px 30px;
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  -o-transition: box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s; }

.side__item_01 {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/side_item_bg_01.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.side__item_02 {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/side_item_bg_02.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.side__item_03 {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/side_item_bg_03.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.side__item:hover {
  -webkit-box-shadow: inset 0 0 60px #fff;
          box-shadow: inset 0 0 60px #fff; }

.side__inner {
  position: relative;
  padding: 20px 0 20px 110px; }

.side__inner_01:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/side_pict_01.jpg") center no-repeat; }

.side__inner_02:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/side_pict_02.jpg") center no-repeat; }

.side__inner_03:before {
  background: url("//dadbab.info/content/XuanhJ9S5IQcluo/img/side_pict_03.jpg") center no-repeat; }

.side__inner:before {
  content: '';
  -webkit-background-size: cover;
  background-size: cover;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -50px 0 0;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  -o-transition: box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s; }

.side__item:hover > .side__inner:before {
  -webkit-box-shadow: 0 0 10px 2px #d886a9;
          box-shadow: 0 0 10px 2px #d886a9; }

.side__text {
  position: relative; }

.side__subtext {
  position: relative;
  padding: 20px 0 0;
  line-height: 1.3;
  font-weight: normal; }

.update {
  background: #fff;
}

.update__item {
  padding: 0 30px 20px 30px; }

.update__headline {
  display: table;
  width: 100%;
  table-layout: fixed; }

.update__cell {
  display: table-cell;
  vertical-align: text-top; }

.update__info {
  display: inline-block;
  vertical-align: middle; }

.update__avatar {
  display: block;
  padding-right: 5px; }

.update__avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.update__name {
  display: block;
  text-decoration: none;
  padding-bottom: 5px;
  color: #d886a9; }

.update__geo,
.update__date {
  font-size: 14px;
  color: #bababa; }

.update__date {
  text-align: right; }

.update__text {
  line-height: 1.43;
  padding: 5px 0; }

.update__item:last-child > .update__text {
  padding-bottom: 30px; }

.footer__content {
  padding: 30px 0;
  background: #fff;
  text-align: center; }

.ac_footer {
    position: relative;
    top: 0;
    text-align: center;
    padding: 10px 0 70px;
    width: auto;
    max-width: 1160px;
    margin: 0 auto;
    color: #A12000;
    background: #fff;
}